<!DOCTYPE html>
<html>
<head>
  <title>File Upload and Download</title>
</head>
<body>
  <h1>Upload File to Telegram</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
  </form>

  <h1>Download File from Telegram</h1>
  <form action="/download/" method="get">
    <input type="text" name="fileId" placeholder="Enter File ID" required />
    <button type="submit">Download</button>
  </form>

</body>
</html>
